*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.page-title-span{
    margin-left:10px;
}
.button-right-icon{
    margin-left: 10px;
}
/*Login Cover*/
.login-cover{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginProgress{
    display: none;
}
#loginError{
    display: none;
}
#onlyForSignup{
    display: none;
}
#onlyForSignupButton{
    display: none;
}
#onlyForSignupBackButton{
    display: none;
}
#confirmPasswordDiv{
    display: none;
}
/*-------- For card ------------*/
.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*background: url('/assets/l.png') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.forScroll{
    overflow: auto;
}